<div id="<%= dom_id punch_time %>">
  <p>
    <strong>Punch time:</strong>
    <%= punch_time.punch_time %>
  </p>

  <p>
    <strong>Punch type:</strong>
    <%= punch_time.punch_type %>
  </p>

  <p>
    <strong>Punch note:</strong>
    <%= punch_time.punch_note %>
  </p>

</div>
