<p style="color: green"><%= notice %></p>

<h1>Punch times</h1>

<div id="punch_times">
  <% @punch_times.each do |punch_time| %>
    <%= render punch_time %>
    <p>
      <%= link_to "Show this punch time", punch_time %>
    </p>
  <% end %>
</div>

<%= link_to "New punch time", new_punch_time_path %>
